

.App {
  padding: 16px;
  margin: 20px auto;
  background-color: rgb(83, 157, 255);
  width: 30%;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
}

.navegacion {
  align-self: center;
  max-width: 700px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 4px;


}

.navClaro{
  background-color: rgb(239, 239, 238);
}
.navOscuro{
  background-color: rgb(122, 122, 100);
}

.pantalla {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.pantClaro{
  background-color: rgb(31, 160, 160);
}

.pantOscuro{
  background-color: rgb(48, 102, 102);
}

.formulario { 
  
  max-width: 700px;
  border-radius: 4px;
  margin: 0 auto;

  text-align: left;
  border-width: 10px;
  padding: 20px;
  padding-left: 25px;
}

.formClaro{
  background-color: rgb(239, 239, 238);
}

.formOscuro{
  background-color: rgb(122, 122, 100);
}

.encabezado{
  max-width: 700px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}


.enClaro{
  background-color: rgb(255, 255, 255) 
}

.enOscuro{
  background-color: rgb(187, 174, 174) 
}




